.contactContainer {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 30px;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 35px;
    color: #555;
}

.breadcrumb a {
    color: #555;
    text-decoration: none;
}

.breadcrumb span {
    margin: 0 5px;
    color: #8c8c8c;
}

.contactSection {
    display: flex;
    gap: 50px;
    width: 100%;
    align-items: flex-start;
}

.contactCard {
    width: 420px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}

.contactBlock {
    display: flex;
    gap: 18px;
    margin-bottom: 40px;
}

.iconCircle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ffebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInfo h3 {
    margin: 0 0 8px;
    font-size: 17px;
    font-weight: 600;
}

.contactInfo p {
    margin: 0 0 10px;
    font-size: 14px;
    color: #555;
}

.contactInfo hr {
    margin-top: 12px;
    border: none;
    height: 1px;
    background: #ddd;
    width: 100%;
}

.contactForm {
    flex: 1;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}

.inputRow {
    display: flex;
    gap: 18px;
    margin-bottom: 25px;
}

.inputRow input {
    width: 100%;
    background: #f5f5f5;
    border: none;
    padding: 14px 16px;
    font-size: 15px;
    border-radius: 6px;
}

textarea {
    width: 100%;
    height: 200px;
    background: #f5f5f5;
    border: none;
    padding: 16px;
    border-radius: 6px;
    resize: none;
    font-size: 15px;
    margin-bottom: 25px;
}

.sendBtn {
    background: #db4444;
    color: white;
    padding: 14px 26px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.sendBtn:hover {
    background: #c23c3c;
}


@media (max-width: 950px) {
    .contactSection {
        flex-direction: column;
    }

    .contactCard {
        width: 100%;
    }

    .inputRow {
        flex-direction: column;
    }
}

