* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: var(--max-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
.path {
  padding-inline: var(--padding);
  padding-top: 50px;
  color: grey;
}
.path span {
  color: rgb(71, 70, 70);
}
.notFoundSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
}
.notFoundHeading {
  font-size: 6.5em;
  text-align: center;
}
.notFoundSection p {
  text-align: center;
}
.backToHomeButton {
  padding: 16px;
  background-color: #db4444;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 47.3em) {
  .notFoundHeading {
    font-size: 5em;
  }
  .path {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 35.5em) {
  .notFoundHeading {
    font-size: 3em;
  }
  .notFoundSection {
    padding-inline: 20px;
  }
}
