.signUpSubmit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.createAccount {
  width: 100%;
  padding: 16px;
}
.redirectToGoogleButton {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: white;
  color: black;
  border: 1px solid grey;
}
.redirectLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.redirectLogin p {
  color: grey;
}
.redirectLogin a {
  color: rgb(71, 70, 70);
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}
.redirectLogin a::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgb(71, 70, 70);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
