* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

html {
    --max-width: 1600px;
    --padding: 135px;
}

.footer {
    background: #000;
    color: #fff;
    padding: 60px var(--padding);
    max-width: var(--max-width);
    margin-inline: auto;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.footerSection h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 18px;
}

.sectionTitle {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
}

.smallText {
    font-size: 14px;
    margin-bottom: 14px;
    font-weight: 300;
}

.footerSection ul {
    list-style: none;
}

.footerSection ul li,
.footerSection ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 28px;
}

.subscribeForm {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    padding: 6px 10px;
    border-radius: 6px;
    width: 220px;
}

.subscribeForm input {
    flex: 1;
    border: none;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 14px;
}

.sendButton {
    background: none;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.qrContainer {
    display: flex;
    gap: 14px;
    margin-top: 10px;
}

.qrImage {
    width: 76px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appImages {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.googlePlay,
.appleStore {
    width: 110px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons {
    display: flex;
    gap: 18px;
    margin-top: 22px;
}

.icon {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBottom {
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #222;
}

@media (max-width: 768px) {
    .saleBanner {
        display: none;
    }

    .shortSaleBanner {
        display: inline-block;
    }

    .topHeaderContent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .bottomHeader {
        display: none;
    }

    .responsiveHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        padding-block: 10px;
    }

    header.mobileMenuOpen .mobileNav {
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .searchBar {
        width: 150px;
    }

    .bottomHeader {
        padding-inline: 10px;
    }
}

