body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  --max-width: 1600px;
  --padding: 135px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 35px;
  color: #555;
}

.breadcrumb a {
  color: #555;
  text-decoration: none;
}

.breadcrumb span {
  margin: 0 5px;
  color: #8c8c8c;
}

.pageNotFoundContainer {
  max-width: var(--max-width);
  margin-inline: auto;
}

.aboutPageContainer {
  padding: var(--padding);
  max-width: var(--max-width);
  margin: 0 auto;
}

.aboutImage {
  width: 50%;
}

.storySection {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  align-items: flex-start;
}

.storySection h1 {
  font-size: 3em;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 30px;
}

.textContent {
  flex: 1;
  max-width: 50%;
}

.textContent p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.imageContent {
  flex: 1;
  min-height: 250px;
  background-size: cover;
  background-position: center top;
}

.statsSection {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.statCard {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconBox {
  color: #000000;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.highlighted {
  background-color: #c93737;
  color: white;
  border: none;
}

.highlighted .iconBox {
  background-color: #c93737;
  color: white;
}

.statValue {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

.statLabel {
  font-size: 0.9em;
  text-align: center;
  padding-left: 10px;
  line-height: 1.3;
}

@media (max-width: 1024px) {
  .aboutPageContainer {
    padding: 40px;
  }

  .storySection {
    flex-direction: column-reverse;
  }

  .aboutImage {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .aboutPageContainer {
    padding: 20px;
  }

  .storySection {
    flex-direction: column;
    gap: 20px;
  }

  .textContent {
    max-width: 100%;
    order: 2;
  }

  .imageContent {
    order: 1;
    min-height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }

  .storySection h1 {
    font-size: 2.5em;
  }

  .statsSection {
    flex-wrap: wrap;
  }

  .statCard {
    flex: 1 1 calc(50% - 15px);
    margin-bottom: 15px;
    padding: 15px;
  }

  .statValue,
  .statLabel {
    font-size: 1.5em;
    padding-left: 0;
    text-align: left;
  }

  .statLabel {
    font-size: 0.8em;
  }

  .iconBox {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
}

.teamSection {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.teamContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.teamMember {
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  transition: 0.3s ease;
}

.teamMember:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.teamMember img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.teamMember h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  padding: 5px 20px;
  color: #111;
  text-align: start;
}

.teamMember p {
  color: #555;
  padding: 5px 20px;
  margin-bottom: 10px;
  text-align: start;
}

.socialIcons {
  font-size: 1.2rem;
  padding: 5px 20px;
  margin-bottom: 10px;
  color: #111;
  cursor: pointer;
  transition: 0.3s;
  text-align: start;
}

.socialIcons {
  color: #007bff;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #e74c3c;
  border: 2px solid #fff;
}

.dot:hover {
  background-color: #999;
}

.serviceBox {
  text-align: center;
  max-width: 250px;
  margin: 20px;
}

.serviceBox .icon {
  background-color: white;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  font-size: 1.5rem;
}

.serviceBox h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.serviceBox p {
  color: #777;
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .teamContainer {
    flex-direction: column;
    align-items: center;
  }
}
