body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  --max-width: 1400px;
  --padding: 135px;
}
.pageNotFoundContainer {
  max-width: var(--max-width);
  margin-inline: auto;
}

.about-page-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  padding: 15px 20px;
  font-size: 0.9em;
  color: #666;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-item {
  color: #666;
  text-decoration: none;
}

.nav-item.active {
  color: #333;
  font-weight: bold;
}

.story-section {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  align-items: flex-start;
}

.story-section h1 {
  font-size: 3em;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 30px;
}

.text-content {
  flex: 1;
  max-width: 50%;
}

.text-content p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.image-content {
  flex: 1;
  min-height: 450px;
  background-size: cover;
  background-position: center top;
}

.stats-section {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.stat-card {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-box {
  color: #000000;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.highlighted {
  background-color: #c93737;
  color: white;
  border: none;
}

.highlighted .icon-box {
  background-color: #c93737;
  color: white;
}

.stat-value {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

.stat-label {
  font-size: 0.9em;
  text-align: center;
  padding-left: 10px;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .story-section {
    flex-direction: column;
    gap: 20px;
  }

  .text-content {
    max-width: 100%;
    order: 2;
  }

  .image-content {
    order: 1;
    min-height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }

  .story-section h1 {
    font-size: 2.5em;
  }

  .stats-section {
    flex-wrap: wrap;
  }

  .stat-card {
    flex: 1 1 calc(50% - 15px);
    margin-bottom: 15px;
    padding: 15px;
  }

  .stat-value,
  .stat-label {
    font-size: 1.5em;
    padding-left: 0;
    text-align: left;
  }

  .stat-label {
    font-size: 0.8em;
  }

  .icon-box {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
}
