.discoveryArea {
  padding: var(--padding);
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.promoBannerSection {
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
  padding: 20px;
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.bannerContent {
  width: 45%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bannerContent span {
  color: #00ff66;
  font-size: 16px;
  font-weight: 600;
}
.bannerTitle {
  font-size: 48px;
  font-weight: 600;
}
.bannerTimeContainer {
  display: flex;
  gap: 20px;
}
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.time h6 {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.time span {
  font-size: 11px;
  font-weight: 400px;
  color: black;
}
.buyButton {
  background-color: #00ff66;
  border-radius: 4px;
  color: white;
  padding: 15px;
  border: none;
  width: 200px;
}
.bannerImage {
  width: 600px;
  height: 500px;
  filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.5));
}
.exploreSection {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.sectionIntro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sectionIndicator {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  width: fit-content;
}

.redBar {
  height: 100%;
  width: 20px;
  background-color: #db4444;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}
.sectionIndicator:hover .redBar {
  width: 100%;
}
.sectionIndicator:hover h4 {
  color: white;
  z-index: 3;
}
.sectionIndicator h4 {
  position: relative;
  padding-left: 40px;
  color: #db4444;
}
.exploreSectionTitle {
  font-size: 36px;
  font-weight: 600;
}
.exploreProductCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  column-gap: 20px;
  row-gap: 30px;
}
.viewProductsBtn {
  background-color: #db4444;
  padding: 15px;
  width: 200px;
  border: none;
  border-radius: 4px;
  color: white;
  align-self: center;
}
.newArrivalSection {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.productCollectionsContainer {
  display: grid;
  gap: 30px;
  height: 400px;
  grid-template-areas:
    "playStation playStation womens womens"
    "playStation playStation speakers perfume";
}
.collection {
  background-color: black;
  color: white;
  position: relative;
}
.collectionContent {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 2;
  color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.collectionContent p {
  font-size: 14px;
}
.collectionContent a {
  color: white;
}
.collection img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90%;
  height: 90%;
  z-index: 1;
  object-fit: contain;
}
.womensCollection img {
  right: 0;
  left: auto;
}
.playStationCollection {
  grid-area: playStation;
}
.womensCollection {
  grid-area: womens;
}
.speakersCollection {
  grid-area: speakers;
}
.perfumeCollection {
  grid-area: perfume;
}
@media (max-width: 75em) {
  .exploreProductCards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 69.4em) {
  .discoveryArea {
    padding-inline: 20px;
  }
  .promoBannerSection {
    height: auto;
    flex-direction: column;
    align-self: center;
  }
  .bannerContent {
    width: 90%;
    align-items: center;
    gap: 15px;
  }
  .bannerTitle {
    font-size: 30px;
    text-align: center;
  }
  .bannerImage {
    width: 50%;
    height: 50%;
    max-height: 400px;
    margin-top: 20px;
  }
  .time span {
    font-size: 8px;
  }

  .productCollectionsContainer {
    height: auto;
    grid-template-areas:
      "playStation playStation"
      "womens womens"
      "speakers perfume";
  }
  .collection img {
    width: 50%;
    height: 70%;
    position: static;
    object-fit: contain;
    margin: auto;
  }
  .collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 350px;
  }
  .collectionContent {
    position: static;
    width: 90%;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 48em) {
  .bannerTitle {
    font-size: 32px;
  }
  .time {
    width: 45px;
    height: 45px;
  }
  .time h6 {
    font-size: 14px;
  }
  .time span {
    font-size: 9px;
  }

  .exploreSectionTitle {
    font-size: 28px;
  }
  .exploreProductCards {
    grid-template-columns: 1fr 1fr;
  }

  .productCollectionsContainer {
    grid-template-areas:
      "playStation"
      "womens"
      "speakers"
      "perfume";
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .collection {
    height: 300px;
    justify-content: center;
  }
  .collection img {
    width: 70%;
  }
}
@media (max-width: 33em) {
  .exploreProductCards {
    grid-template-columns: 1fr;
  }
  .bannerTimeContainer {
    gap: 10px;
  }
  .time {
    width: 40px;
    height: 40px;
  }
}
